---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import ProjectsIcon from "@/components/icons/Projects.astro";
import AboutIcon from "@/components/icons/About.astro";
import TechnologiesIcon from "@/components/icons/Technologies.astro";
import Projects from "@/components/Projects.astro";
import Technologies from "@/components/Technologies.astro";
import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout
  title={i18n.SEO.SEO_TITLE_1}
  description={i18n.SEO.SEO_DESCRIPTION}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection>
          <Briefcase class="size-8" />
          {i18n.EXPERIENCE.TITLE}
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <TitleSection>
          <ProjectsIcon class="size-8" />
          {i18n.PROJECTS.TITLE}
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="technologies">
        <TitleSection>
          <TechnologiesIcon />
          {i18n.TECHNOLOGIES.TITLE}
        </TitleSection>
        <Technologies />
      </SectionContainer>

      <SectionContainer id="about">
        <TitleSection>
          <AboutIcon class="size-8" />
          {i18n.ABOUT.TITLE}
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
