---
import ProjectCard from "./ProjectCard.astro";
import { getI18N } from "@/i18n";
import { TAGS } from "@/constans";
import type { Project } from "@/constans";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const PROJECTS: Project[] = [
  {
    title: i18n.PROJECTS.moodflix.title,
    description: i18n.PROJECTS.moodflix.description,
    link: "https://moodflix-by-calisto.vercel.app",
    image: "/projects/moodflix.webp",
    github: "https://github.com/Carlos-Bolano/moodflix",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.GEMINI],
  },
  {
    title: i18n.PROJECTS.jadirh.title,
    description: i18n.PROJECTS.jadirh.description,
    link: "https://jadirhgonzalezpoems.vercel.app",
    image: "/projects/jadirhGonzalesPoems.webp",
    // github: "https://github.com/Carlos-Bolano/jadirhgonzalezpoems",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.NEXTAUTH, TAGS.MONGODB],
  },
  {
    title: i18n.PROJECTS.travlog.title,
    description: i18n.PROJECTS.travlog.description,
    link: "https://travlog-website.vercel.app/",
    image: "/projects/travlog.webp",
    github: "https://github.com/Carlos-Bolano/Travlog-Landing-Page",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.ASTRO],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map((project) => (
      <ProjectCard
        title={project.title}
        description={project.description}
        image={project.image}
        tags={project.tags}
        link={project.link}
        github={project.github}
      />
    ))
  }
</div>
